
@{
    ViewBag.Title = "DuaCTHoaDon";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h1 style="margin-top:50px;margin-bottom:50px;text-align:center">CẢM ƠN BẠN ĐÃ MUA HÀNG, CHÚC BẠN MỘT NGÀY TỐT LÀNH</h1>
<h2 style="text-align:center">@Html.ActionLink("Tiếp tục khám phá", "Index", "GAMEs", new { theLoai = "no" }, new { @class = "a" })&nbsp; &nbsp;</h2>
